@use 'src/_styles/breakpoints' as breakpoints;
@use 'src/_styles/functions' as *;

.HomePageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.TitleSection {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.TitleWrapper {
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
}

// Title & animation

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(RelativeSize(150));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(RelativeSize(-150));
  }
}

.Title {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 23vw;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-brand_1);

  div, span {
    pointer-events: none;
    user-select: none;
  }

  span {
    display: inline-block;
    animation-duration: 100ms;
    animation-timing-function: var(--easing-inout);
    animation-fill-mode: forwards;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 100ms);
      }
    }
  }

  // Starting state, disable "Hello".
  .hello {
    display: none;
  }

  // Starting state, position and hide "Kia Ora".
  .kiaOra {
    span {
      opacity: 0;
      transform: translateY(RelativeSize(150));
    }
  }

  // Once loaded, run the animation for "Kia Ora".
  &.loaded {
    .kiaOra span {
      animation-name: popIn;
    }
  }

  // Once enabled, run the animation for hiding
  // "Kia Ora" and showing "Hello".
  &.enabled {

    .hello {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      span {
        opacity: 1;
        transform: translateY(0);
        animation-name: popOut;
      }
    }
  }

  // Toggle animation states for the welcome messages.
  &.translate {
    
    .kiaOra {
      span {
        animation-name: popOut;
        opacity: 1;
        transform: translateY(0);
      }
    }
    .hello {
      span {
        animation-name: popIn;
        opacity: 0;
        transform: translateY(RelativeSize(150));
      }
    }
  }
}

// Flower & animation

@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Flower {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  width: auto;
  max-width: 80vw;
  height: 90vh;
  z-index: 1;
  opacity: 0.02;
  transform-origin: center;
  animation: rotate360 60000ms linear infinite 1000ms;

  path {
    fill: none;
    animation-name: fadeIn;
    animation-timing-function: var(--easing-inout);
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    opacity: 0;
    stroke: var(--color-white);
    
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 200ms + 1000ms);
      }
    }
  }
}

.AboutSection {
  width: 100%;
}

.AboutContentWrapper {
  margin: 0 auto;
  max-width: 700px;
  color: var(--color-white);
  padding: 12rem 2rem;
  position: relative;
  z-index: 10;

  @include breakpoints.tablet {
    padding: 15rem 2rem;
  }

  @include breakpoints.desktopSm {
    max-width: RelativeSize(700);
    padding: RelativeSize(150) 0;
  }
}

.AboutContent {
  display: block;

  p {
    font-size: 1.6rem;
    line-height: 1.6;
    @include breakpoints.desktopSm {
      font-size: RelativeSize(20);
    }
  }
}

.BODLine {
  width: 5rem;
  height: 1px;
  display: block;
  background: var(--color-white);
  margin: 0 2rem;
  transition: all 500ms var(--easing-inout);

  @include breakpoints.tablet {
    width: 20vh;
  }
}

.ButtonOfDespair {
  background: none;
  border: none;
  outline: none;
  width: auto;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-white);
  transition: all 500ms var(--easing-inout);
  padding-top: 5rem;

  &:hover {
    color: var(--color-brand_3);
    
    .BODLine {
      background: var(--color-brand_3);
    }
  }

  @include breakpoints.desktopSm {
    font-size: RelativeSize(10);
  }
}

.PageTitle {
  margin: auto;
  width: auto;
  display: block;
  color: var(--color-white);
}


// // Logo & animation

// @keyframes dash {
//   0% {
//     stroke-dashoffset: 630;
//   }
//   100% {
//     stroke-dashoffset: 0;
//   }
// }

// @keyframes rotate {
//   0% {
//     transform: translate(-50%, -50%) rotate(45deg);
//   }
//   100% {
//     transform: translate(-50%, -50%) rotate(0deg);
    
//   }
// }

// .JPLogo {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) rotate(45deg);
//   display: block;
//   width: auto;
//   max-width: 80vw;
//   height: 90vh;
//   z-index: 1;
//   opacity: 0.02;
//   transform-origin: center;
//   animation: rotate 300ms var(--easing-inout) forwards 2500ms;
//   stroke-width: 1.5rem;

//   path {
//     stroke-dasharray: 630;
//     stroke-dashoffset: 630;
//     animation: dash 1500ms var(--easing-inout) forwards 1000ms;
//   }
// }