@use 'src/_styles/breakpoints' as breakpoints;
@use 'src/_styles/functions' as *;

.scrollIndicator {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  animation: showScrollIndicator 500ms cubic-bezier(.6,0,.4,1) forwards 3s;

  @include breakpoints.desktopSm {
    bottom: RelativeSize(-25);

    &:hover {
      .text {
        color: var(--color-brand_3);
      }
    }
  }
}

.text {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  display: block;
  transition: color 300ms var(--easing-inout);
  user-select: none;

  @include breakpoints.desktopSm {
    font-size: RelativeSize(10);
    margin-bottom: RelativeSize(20);
    letter-spacing: RelativeSize(1);
  }
}
.lineContainer {
  position: relative;
  overflow: hidden;
  width: .7rem;
  height: 5rem;

  @include breakpoints.desktopSm {
    width: RelativeSize(7);
    height: RelativeSize(50);
  }
}

.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(-100% - .7rem);
  animation: scrollIndicator 2s cubic-bezier(.6,0,.4,1) infinite;
  
  @include breakpoints.desktopSm {
    top: calc(-100% - RelativeSize(7));
  }
}

span.topLine, span.btmLine {
  width: 0.1rem;
  height: 5rem;
  background: var(--color-white);
  display: block;
  margin: 0 auto;

  @include breakpoints.desktopSm {
    width: RelativeSize(1);
    height: RelativeSize(50);
  }
}

span.ball {
  content: "";
  display: block;
  width: .7rem;
  height: .7rem;
  border-radius: 0.35rem;
  border: 0.1rem solid var(--color-white);

  @include breakpoints.desktopSm {
    width: RelativeSize(7);
    height: RelativeSize(7);
    border-width: RelativeSize(1);
    border-radius: RelativeSize(3.5);
  }
}

@keyframes showScrollIndicator {
  to {
    opacity: 1;
  }
}

@keyframes scrollIndicator {
  to {
    top: 0;
  }
}