@use "src/styles/breakpoints" as breakpoints;
@use "src/styles/functions" as *;

.ErrorPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 90vh;

  @include breakpoints.desktopSm {
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
  }
}

.ErrorPageContent {
  color: var(--color-white);
  max-width: 50rem;
  padding: 0 2rem;
  margin: auto;

  @include breakpoints.desktopSm {
    max-width: RelativeSize(500);
    padding: 0;
  }
}

.ErrorPageTitle {
  font-size: 5.5rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 900;

  @include breakpoints.desktopSm {
    font-size: RelativeSize(120);
    letter-spacing: RelativeSize(-2);
  }
}

.ErrorPageDescription {
  font-size: 1.6rem;

  a {
    text-decoration: underline;
  }

  @include breakpoints.desktopSm {
    font-size: RelativeSize(18);
  }
}

.ErrorPageButton {
  cursor: pointer;
  font-size: 1.6rem;
  background: var(--color-white);
  color: var(--color-brand_2);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-main);
  border: none;
  outline: none;
  transition: all 300ms var(--easing-inout);
  padding: 1.5rem 3rem;
  margin-top: 1rem;

  &:hover {
    background: var(--color-brand_3);
  }

  @include breakpoints.desktopSm {
    font-size: RelativeSize(16);
    padding: RelativeSize(10) RelativeSize(25);
    margin-top: RelativeSize(10);
  }
}
