name: jpd-portfolio
services:
  next-js:
    # This must match the tag you used during 'docker build' locally
    image: jpd-portfolio:latest
    restart: always
    env_file:
      - .env.next
    depends_on:
      - mongo
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    networks:
      - app-network

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/conf:/etc/letsencrypt:rw
      - ./certbot/www:/var/www/certbot:rw

  mongo:
    image: mongo:latest
    restart: always
    command: mongod --storageEngine=wiredTiger --quiet --logpath /dev/null
    env_file:
      - .env.mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - /mnt/ebs/jpd-portfolio/mongodata:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
