name: jpd-portfolio
services:
  next-js:
    # This must match the tag you used during 'docker build' locally
    image: jpd-portfolio:latest
    restart: always
    depends_on:
      - mongo
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - next-js
    networks:
      - app-network

  mongo:
    image: mongo:latest
    restart: always
    command: mongod --storageEngine=wiredTiger --quiet --logpath /dev/null
    env_file:
      - ../.env
    volumes:
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/02-mongo-init.js:ro
      - mongodata:/data/db
      # - /mnt/ebs/mongodb_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodata:
