@use 'sass:color';

// ///////////////////////////////////////////////////
// Convert hex colors to rgb
// ///////////////////////////////////////////////////

@function hexToRGB($hex) {
  $red: color.channel($hex, "red", $space: rgb);
  $green: color.channel($hex, "green", $space: rgb);
  $blue: color.channel($hex, "blue", $space: rgb);
  
  @return $red, $green, $blue;
}

// ///////////////////////////////////////////////////
// Relative Size
// ///////////////////////////////////////////////////

@function RelativeSize($value) {
  $relativeSizeBase: 1024;
  $baseSize: 100vw;

  @return ($value/$relativeSizeBase)*$baseSize;

	// EXAMPLES:

	// SINGLE VALUE
  //	@include relative-size(32);

	// MULTIPLE VALUES
	//	$values: 100 50 20;
  //	@include relative-size($values);

}