@use "src/styles/breakpoints" as breakpoints;

.VideoWrapper {
  position: relative;
  width: 100%;
  height: auto;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 75%;

    @include breakpoints.tablet {
      padding-bottom: 56.25%;
    }
  }
}

.Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
