@use "src/styles/breakpoints" as breakpoints;
@use "src/styles/functions" as *;

.Button {
  outline: none;
  background: var(--color-brand_1);
  color: var(--color-brand_2);
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 0;
  text-decoration: none;
  appearance: none;
  text-transform: uppercase;
  font-family: var(--font-game);
  font-weight: 600;
  transition: all 300ms ease;

  @include breakpoints.desktopSm {
    font-size: RelativeSize(20);
    padding: RelativeSize(10) RelativeSize(20);
    margin: RelativeSize(10);
  }

  &:hover {
    color: var(--color-white);
    background: var(--color-brand_1);
  }
}
