@use 'src/_styles/breakpoints' as breakpoints;
@use 'src/_styles/functions' as *;

.ScoreForm {
  margin: 0;
}

.PlayerName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.InitialInput {
  border: 0;
  border-bottom: 2px solid var(--color-brand_2);
  color: var(--color-brand_2);
  background: none;
  margin: 2px;
  display: block;
  width: 25%;
  font-size: 5rem;
  text-align: center;
  outline: none;
  appearance: none;
  border-radius: 0;
  
  text-transform: uppercase;
  font-family: var(--font-game);
  font-weight: 600;

  &::placeholder {
    opacity: 0.2;
    color: var(--color-brand_2);
  }

  @include breakpoints.desktopSm {
    font-size: RelativeSize(60);
    margin: RelativeSize(5);
    border-bottom-width: RelativeSize(2);
    line-height: 0.8;
  }
}

.MessageWrapper {
  display:  flex;
  flex-direction: column;
}

.Title {
  font-size: 3rem;
  font-family: var(--font-game);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;

  @include breakpoints.desktopSm {
    font-size: RelativeSize(30);
  }
}

.Message {
  font-size: 1.6rem;
  font-family: var(--font-game);
  margin: 1rem auto;
  line-height: 1.3;

  @include breakpoints.desktopSm {
    font-size: RelativeSize(14);
    margin: RelativeSize(10) auto;
  }
}