@use 'src/_styles/breakpoints' as breakpoints;
@use 'src/_styles/mixins' as mixins;

.FooterWrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--color-brand_1);

  @include breakpoints.desktopSm {
    @include mixins.RelativeSize(padding, 20);
  }
}

.FooterItems {
  display: flex;
  margin-left: auto;
}

.FooterLink {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--color-white);
  transition: all 500ms ease;
  line-height: 1;
  padding: 1rem;

  &:hover, &:focus {
    color: var(--color-brand_3);
  }

  @include breakpoints.desktopSm {
    @include mixins.RelativeSize(font-size, 10);
    @include mixins.RelativeSize(padding, 10);
  }
}

@keyframes changeColor {
  to {
    fill: #2bf599;
  }
}

.UpUpDownDownLeftRightLeftRightBA {
  padding: 2rem;
  width: 20rem;
  height: auto;
  display: block;
  background: none;
  border: none;
  outline: none;
  margin-right: auto;

  @include breakpoints.desktopSm {
    @include mixins.RelativeSize(padding, 10);
    @include mixins.RelativeSize(width, 180);
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    path {
      fill: transparent;
      stroke-width: 3px;
      stroke: var(--color-white);
      transition: 500ms all ease;
    }
  }

  &.animate {
    svg path {
      animation: changeColor 300ms linear forwards;

      @for $i from 1 through 11 {
        &:nth-child(#{$i}) {
          animation-delay: calc($i * 250ms);
        }
      }
    }
  }

  &:hover {
    svg path {
      stroke: var(--color-brand_3);
    }
  }
}